@using LocadoraDeVeiculos.Dominio.ModuloAluguel
@using LocadoraDeVeiculos.WebApp.Models
@model InserirAluguelViewModel

@{
    ViewBag.Title = "Alugar um veículo";
}

<style>
    .is-invalid {
        border-color: red;
    }
</style>

<div class="col">
    <div class="row gap-3 my-3 my-xl-4">
        <form class="col-lg-6 d-grid" asp-action="Inserir">
            <div>
                <label class="control-label fw-bold mb-1">Cliente</label>
                <select class="form-select" asp-for="ClienteId" asp-items="Model.Clientes" id="clienteSelect">
                    <option value="" selected disabled>Selecione um cliente</option>
                </select>
                <span class="text-danger fs-6" asp-validation-for="ClienteId"></span>
            </div> <!--Cliente-->

            <div>
                <label class="control-label fw-bold mb-1 mt-3">Condutor</label>
                <select class="form-select mb-1" asp-for="CondutorId" id="condutorSelect" disabled>
                    <option value="" selected disabled>Selecione um condutor</option>
                    @foreach (var condutor in Model.Condutores!)
                    {
                        <option value="@condutor.Id"
                                data-clienteid="@condutor.Cliente.Id"
                                data-validadecnh="@condutor.ValidadeCNH.ToString("yyyy-MM-dd")">
                            @condutor.Nome
                        </option>
                    }
                </select>
                <span class="text-danger fs-6" asp-validation-for="CondutorId"></span>
                <div id="condutorWarning" class="text-danger fs-6" style="display: none;">
                    Nenhum condutor associado a este cliente
                </div>
                <div id="cnhWarning" class="text-danger fs-6" style="display: none;">
                    A CNH deste condutor está vencida
                </div>
            </div> <!--Condutor-->

            <div class="d-none" id="grupoEveiculo">
                <div>
                    <label class="control-label fw-bold mt-3 mb-1">Grupo de Automóveis</label>
                    <select class="form-select mb-1" asp-for="GrupoId" asp-items="Model.Grupos" id="grupoSelect">
                        <option value="" selected disabled>Selecione um grupo</option>
                    </select>
                    <span class="text-danger fs-6" asp-validation-for="GrupoId"></span>
                </div> <!--Grupo-->

                <div>
                    <label class="control-label fw-bold mt-3 mb-1">Veículo</label>
                    <select class="form-select mb-1" asp-for="VeiculoId" id="veiculoSelect" disabled>
                        <option value="" selected disabled>Selecione um veículo</option>
                        @foreach (var veiculo in Model.Veiculos!)
                        {
                            <option value="@veiculo.Id"
                                    data-grupoid="@veiculo.GrupoDeAutomoveis.Id"
                                    data-alugado="@veiculo.Alugado">
                                @veiculo.Marca modelo @veiculo.Modelo, Placa @veiculo.Placa
                            </option>
                        }
                    </select>
                    <span class="text-danger fs-6" asp-validation-for="VeiculoId"></span>
                    <div id="alugadoWarning" class="text-danger fs-6" style="display: none;">
                        Este veículo já está alugado
                    </div>
                    <div id="veiculoWarning" class="text-danger fs-6" style="display: none;">
                        Nenhum veículo associado a este grupo
                    </div>
                </div> <!--Veículo-->
            </div>

            <div class="d-flex flex-row gap-3 mt-4 d-none" id="datas">
                <div class="flex-fill">
                    <label class="control-label fw-bold mb-1">Data de Retirada</label>
                    <input type="date" class="form-control mb-1" asp-for="DataSaida" id="saida" />
                    <span class="text-danger fs-6" asp-validation-for="DataSaida"></span>
                    <div id="saidaWarning" class="text-danger fs-6" style="display: none;">
                        O veículo deve ser retirado em uma data superior à hoje
                    </div>
                </div> <!--Saida-->

                <div class="flex-fill">
                    <label class="control-label fw-bold mb-1">Data de devolução</label>
                    <input type="date" class="form-control mb-1" asp-for="DataRetornoPrevista" id="retorno" disabled />
                    <span class="text-danger fs-6" asp-validation-for="DataRetornoPrevista"></span>
                    <div id="retornoWarning" class="text-danger fs-6" style="display: none;">
                        A data de devolução deve ser superior à data de retirada
                    </div>
                </div> <!--Retorno-->
            </div>

            <div class="d-flex flex-row gap-3 mt-4 d-none" id="entradaEplano">
                <div class="flex-fill">
                    <label class="control-label fw-bold mb-1">Valor de Entrada</label>
                    <input class="form-control mb-1" value="R$ 1000,00" disabled/>
                </div> <!--Entrada-->

                <div class="flex-fill">
                    <label class="control-label fw-bold mb-1">Plano de aluguel</label>
                    <select class="form-select mb-1" asp-for="CategoriaPlano" asp-items="Model.Categorias">
                        <option value="" selected disabled>Plano</option>
                    </select>
                    <span class="text-danger fs-6" asp-validation-for="CategoriaPlano"></span>
                </div> <!--Plano-->
            </div>

            <div class="d-none" id="seguro">
                <label class="control-label fw-bold mt-3 mb-1">Seguro <span class="fw-normal text-secondary">(opcional)</span></label>
                <div class="d-flex gap-3">
                    <div class ="flex-fill">
                        <select class="form-select mb-1" id="seguroSelect">
                            <option value="" selected disabled>Selecione um seguro</option>
                            @foreach (var seguro in Model.Seguros!)
                            {
                                <option value="@seguro.Id"
                                        data-valor="@seguro.Preco">
                                    @seguro.Nome
                                </option>
                            }
                        </select>
                    </div>

                    <div class="mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="true" id="fixo">
                            <label class="form-check-label">Cliente</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="false" id="diario">
                            <label class="form-check-label">Terceiro</label>
                        </div>
                    </div>
                </div> <!--Seguro-->
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-3">Taxas e Serviços</label>
                <div class="gap-4" style="border: 1px solid #ced4da; border-radius: .25rem; padding: .375rem;">
                    <p>Oi</p>
                </div>
            </div> <!--Taxas-->

            <div class="row justify-content-center my-5 gap-3">
                <button class="btn btn-secondary px-5" style="width: 170px">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-secondary px-5" style="width: 170px" href="/Aluguel/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div> <!--Gravar-->
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function filtrarCondutoresPorCliente(clienteId) {
                let condutorEncontrado = false;

                $('#condutorSelect option').each(function () {
                    const condutorClienteId = $(this).data('clienteid');

                    if (condutorClienteId == clienteId) {
                        $(this).show();
                        condutorEncontrado = true;
                    } else {
                        $(this).hide();
                    }
                });

                if (condutorEncontrado) {
                    $('#condutorSelect').removeClass('is-invalid').prop('disabled', false);
                    $('#condutorWarning').hide();
                } else {
                    $('#condutorSelect').addClass('is-invalid').prop('disabled', true);
                    $('#condutorWarning').show();
                }

                $('#condutorSelect').val('');
            }

            function verificarValidadeCnh() {
                const condutorSelecionado = $('#condutorSelect option:selected');
                const validadeCnh = new Date(condutorSelecionado.data('validadecnh'));
                const dataAtual = new Date();

                if (validadeCnh < dataAtual) {
                    $('#condutorSelect').addClass('is-invalid');
                    $('#cnhWarning').show();
                } else {
                    $('#condutorSelect').removeClass('is-invalid');
                    $('#cnhWarning').hide();
                    $('#grupoEveiculo').removeClass('d-none');
                }
            }

            function filtrarVeiculosPorGrupo(grupoId) {
                let veiculoEncontrado = false;

                $('#veiculoSelect option').each(function () {
                    const veiculoGrupoId = $(this).data('grupoid');

                    if (veiculoGrupoId == grupoId) {
                        $(this).show();
                        veiculoEncontrado = true;
                    } else {
                        $(this).hide();
                    }
                });

                if (veiculoEncontrado) {
                    $('#veiculoSelect').prop('disabled', false);
                    $('#veiculoWarning').hide();
                } else {
                    $('#veiculoSelect').prop('disabled', true);
                    $('#veiculoWarning').show();
                }

                $('#veiculoSelect').val('');
            }

            function verificarVeiculoAlugado() {
                const veiculoSelecionado = $('#veiculoSelect option:selected');
                const veiculoAlugado = veiculoSelecionado.data('alugado') === true || veiculoSelecionado.data('alugado') === "True";

                if (veiculoAlugado) {
                    $('#veiculoSelect').addClass('is-invalid');
                    $('#alugadoWarning').show();
                } else {
                    $('#veiculoSelect').removeClass('is-invalid');
                    $('#alugadoWarning').hide();
                    $('#datas').removeClass('d-none');
                }
            }

            function verificarDataSaida() {
                const saidaSelecionada = $('#saida').val();
                const dataSaida = new Date(saidaSelecionada);
                const dataAtual = new Date();

                dataAtual.setHours(0, 0, 0, 0);
                dataSaida.setHours(0, 0, 0, 0);

                if (dataSaida < dataAtual) {
                    $('#saida').addClass('is-invalid');
                    $('#saidaWarning').show();
                } else {
                    $('#saida').removeClass('is-invalid');
                    $('#saidaWarning').hide();
                    $('#retorno').prop('disabled', false);
                }
            }

            function verificarDataRetorno() {
                const saidaSelecionada = $('#saida').val();
                const dataSaida = new Date(saidaSelecionada);
                const retornoSelecionado = $('#retorno').val();
                const dataRetorno = new Date(retornoSelecionado);

                if (dataRetorno <= dataSaida) {
                    $('#retorno').addClass('is-invalid');
                    $('#retornoWarning').show();
                    $('#entradaEplano').addClass('d-none');
                    $('#seguro').removeClass('d-none');
                } else {
                    $('#retorno').removeClass('is-invalid');
                    $('#retornoWarning').hide();
                    $('#entradaEplano').removeClass('d-none');
                    filtrarSeguros();
                }
            }

            function filtrarSeguros() {
                $('#seguroSelect option').each(function () {
                    if ($('#seguroSelect option').val()) {
                        $('#seguro').removeClass('d-none');
                    }
                });
            }

            $('#clienteSelect').change(function () {
                const clienteIdSelecionado = $(this).val();
                filtrarCondutoresPorCliente(clienteIdSelecionado);
            });

            $('#condutorSelect').change(function () {
                verificarValidadeCnh();
            });

            $('#grupoSelect').change(function () {
                const grupoIdSelecionado = $(this).val();
                filtrarVeiculosPorGrupo(grupoIdSelecionado);
            });

            $('#veiculoSelect').change(function () {
                verificarVeiculoAlugado();
            });

            $('#saida').change(function () {
                verificarDataSaida();
            });

            $('#retorno').change(function () {
                verificarDataRetorno();
            });

            const clienteIdInicial = $('#clienteSelect').val();
            if (clienteIdInicial) {
                filtrarCondutoresPorCliente(clienteIdInicial);
            }
        });
    </script>
}